* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #f6f7f9;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 100px;
  padding: 0 40px;
}
header a {
  margin-right: 10px;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed-container {
  max-width: 700px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.first-block {
  height: 300px;
}
.first-block > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./img/man.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}
.first-block p {
  margin: 25px 0 25px 0;
}
.first-block h1 {
  margin-bottom: 0;
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.services > div {
  width: 150px;
}
.services img {
  width: 150px;
}
section {
  padding: 40px;
}
.price-info {
  background-color: rgb(63 43 255);
  color: ivory;
}
.light-button {
  border: 1px solid black;
  background-color: transparent;
}
.dark-button {
  background-color: rgb(63 43 255);
  border: 1px solid rgb(63 43 255);
  color: white;
}
button {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
}
.works {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.works img {
  width: 90%;
}
.price-info p {
  margin-top: 40px;
  width: 50%;
}
.price-info h2 {
  width: 50%;
}

footer {
  padding: 40px;
}
.popup-container {
  background-color: #000000d1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
}
.popup input {
  margin-bottom: 20px;
}

.footer-link-container {
  display: flex;
  flex-direction: column;
}
.footer-link-container a {
  margin-bottom: 5px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.foter-rest-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.foter-socialmedia-links{
  display: flex;
  justify-content: space-between;
}
.foter-socialmedia-links img {
  height: 15px;
}
